
.form-message {
    text-align: left;
}

.form-group.invalid .form-control {
    border-color: #f33a58;
}

.form-group.invalid .form-message {
    color: #f33a58;
}

.form-message {
    font-size: 1rem;
    line-height: 1.4rem;
    padding: 4px 0 0;
}
